#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('../loader/loader.gif')
	 no-repeat center center;	
	z-index: 99999;
}

.bg-gradient-red{
	background: #6f2c91;  /* fallback for old browsers */
}

.waktu-tanggal{
	float: left;
	color: #fff;
}

.background-header{
	background: #6f2c91;  /* fallback for old browsers */
	margin-top: 1px;
}

.header-pages{
	padding-top: 10px;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.bg-footer {
  	bottom: 0;
    width: 100%;
    position: relative;
    height:50px;
    line-height:50px;
    background: #6f2c91;  /* fallback for old browsers */
    color:#fff;
    padding-left: 10px;
}

.text-copyright{
	text-align: center;
}