<!DOCTYPE html>
<html>

<head>
    <title>Print Laporan Data Barang</title>
    <style type="text/css" media="screen">
        .judul .title {
            font-size: 20px;
            font-weight: bold;
        }
        
        .tables {
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <div class="judul">

        <div class="title">
            Laporan Data Barang
        </div>

        <div class="brand">E-kasir</div>
        <div>Tanggal awal : {{$tanggal_awal}}</div>
        <div>Tanggal akhir : {{$tanggal_akhir}}</div>
        <hr>
    </div>
    <div class="tables">
        <table border="1">
            <thead>
                <tr>
                    <th width="120px">Nama Barang</th>
                    <th width="190px">Harga</th>
                    <th width="40px">Jumlah</th>
                </tr>
            </thead>
            <tbody>
                @foreach($kamar as $data)
                <tr>
                    <td>{{$data->nama_barang}}</td>
                    <td>{{$data->harga}}</td>
                    <td>{{$data->stok}}</td>
                </tr>
                @endforeach
            </tbody>
        </table>

    </div>
    <script type="text/javascript">
        window.print();
    </script>

</body>

</html>